.who-s-followers-wrapper
  / 〇〇のフォロワー
  .who-s-followers
    .wf-person
      .wf-face
      .wf-name
        = @user.name
    .wf-logo
      = @title
  / フォロワー一覧
  .followers
    - if @users.any?
      - @users.each do |user|
        .one-follower
          .follower
            .follower-face-name
              .follower-face
              .follower-name
                = user.name
              / スマホブラウザのステータスボタン
              - if user == current_user
              - elsif current_user.following?(user)
                = form_for(current_user.active_relationships.find_by(following_id: user.id), method: :delete) do |f|
                  = f.submit "フォロー中", class: "sp-fs-following"
                / .sp-fs-following
                /   フォロー中
              - else
                = form_for(current_user.active_relationships.build) do |f|
                  = hidden_field_tag :following_id, user.id
                  = f.submit "フォローする", class: "sp-fs-notyetfollow"
                / .sp-fs-notyetfollow
                /   フォローする
            .follower-favorites
              .follower-fav-authors-logo
                好きな著者
              .follower-fav-authors
                村上春樹、伊藤計劃
              .follower-fav-books-logo
                好きな本
              .follower-fav-books
                %span.follower-fav-book> サピエンス全史
                、
                %span.follower-fav-book 愛とは何か
          .follower-status
            - if user == current_user
            - elsif current_user.following?(user)
              = form_for(current_user.active_relationships.find_by(following_id: user.id), method: :delete) do |f|
                = f.submit "フォロー中", class: "fs-following"
              / .fs-following
              /   フォロー中
            - else
              = form_for(current_user.active_relationships.build) do |f|
                = hidden_field_tag :following_id, user.id
                = f.submit "フォローする", class: "fs-notyetfollow"
              / .fs-notyetfollow
              /   フォロする
