!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Triceps
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice
      = notice
    %p.alert
      = alert

  -if current_user
    = render "layouts/header_login"
  -else
    = render "layouts/header_no_login"

  = yield

  %footer
    .footer-home.footer-menu
      %i.fa.fa-home
    .footer-notice.footer-menu
      %i.fa.fa-bell
    .footer-populars.footer-menu
      %i.fa.fa-star
    .footer-user-icon.footer-menu
